---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="À propos | Zango Quentin" description="Page personnelle de Zango Quentin">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
        		tagline="Merci de votre visite. Découvrez ci-dessous mon parcours et mes compétences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Zango Quentin au travail"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
									Je m'appelle Zango Quentin et je suis titulaire d'une Licence Technologique en
						Génie Informatique, option Concepteur Développeur Réseau et Internet, obtenue à
						l'Institut Universitaire de Technologie Fotso Victor de Bandjoun, au Cameroun.
						
					</p>
					<p>
									Ce qui me caractérise le plus est ma capacité à m'adapter à de nouveaux
						environnements et technologies. D'une nature ouverte, j'accorde une grande
						importance à la communication et à l'échange de connaissances.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
				<p>
					J'ai obtenu ma Licence Technologique en Génie Informatique, option Concepteur
					Développeur Réseau et Internet, à l'Institut Universitaire de Technologie Fotso
					Victor de Bandjoun.
				</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
				<p>
					Je maîtrise des technologies telles que Django, CakePHP, React.js, PostgreSQL,
					SQLite, ainsi que des outils cloud comme AWS et Vercel. Mon expertise me permet
					de concevoir et développer des applications web évolutives et performantes.
				</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
